html,
body {
  color: #2e2f42;
  margin: 0;
  width: 1440px;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.page-header {
  display: block;
  background-color: #ffffff;
}

.page-heder-nav {
  margin: 0 auto;
}

.logo {
  width: 44px;
  border-bottom: 1px #e7e9fc;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-too {
  width: 71px;
  color: #2e2f42;
}

.page-menu {
  margin: 0 auto;
  display: block;
}
.menu-link {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:active {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.link-address {
  font-style: normal;
}
.menu-link-address {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
}

.menu-link-address:active {
  color: #404bbf;
}
.menu-link-address:hover,
.menu-link-address:focus {
  color: #404bbf;
}

/* Section Title */
.section-title {
  background-color: #2e2f42;
}

.page-titles {
  padding-top: 188px;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/* Button */
.page-button {
  margin-top: 48px;
  margin-bottom: 188px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

/* Section presentation */
/* make invisible h2 */
.benefits-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits-text {
  width: 264px;
  padding-top: 8px;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section Our Team */
.section-our-team {
  background-color: #f4f4fd;
}
.team-titles {
  padding-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.card-item {
  padding-left: 0;
  padding-right: 24px;
  display: inline-block;
}
.card-our-team {
  background-color: #ffffff;
}
.block-foto {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-team-titles {
  padding-top: 32px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.card-team-text {
  padding-top: 0;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section portfolio */
.section-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolso-titles {
  padding-bottom: 72px;
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

/* First bloc porfolio */
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.card-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-footer-span {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
