html,
body {
  color: #2e2f42;
  margin: 0;
  font-family: "Roboto", "Raleway", sans-serif;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.page-header {
  background-color: #fff;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
}
.logo-too {
  color: #2e2f42;
}

.menu {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.menu-link {
  color: #2e2f42;
}
.menu-link-studio:active {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-address {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.menu-link-address {
  color: #434455;
}
.menu-link-address:active {
  color: #404bbf;
}
.menu-link-address:hover,
.menu-link-address:focus {
  color: #404bbf;
}

.section-title {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background-color: #2e2f42;
}

.page-titles {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.page-button {
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.page-benefits {
  background-color: #fff;
}
.menu-benefits {
  background-color: #fff;
}
.benefits-titles {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.benefits-text {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-our-team {
  background-color: #f4f4fd;
}
.team-titles {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}
.card-our-team {
  background: #fff;
}
.card-team-heder {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.card-team-blok {
  background: #fff;
}
.card-team-text {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.section-portfolio {
  background: #fff;
}
.portfolso-titles {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}
.first-blok-portfolso {
  background: #fff;
}

.foto-cards {
  background: #fff;
}
.card-title {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.card-text {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.footer {
  background: #2e2f42;
}
.logo-footer {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
