body {
  font-family: "Raleway", "Roboto", sans-serif;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
.page-header {
  background-color: #fff;
  width: 1440px;
  height: 72px;
}

.page-nav {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.logo {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  color: #4d5ae5;
}
.logo-too {
  color: #2e2f42;
}
.menu {
}
